{% load static %}
<!DOCTYPE html>

<html>
<head>
	<title>KP Code</title>

	

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="icon" href="{% static 'kpcode/images/favicon.ico' %}" type="image/x-icon" sizes="16x16">


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'kpcode/images/favicon.png' %}">

	
    <link rel="stylesheet" type="text/css" href='{% static "kpcode/css/basic.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "kpcode/css/home.css" %}'>
</head>
<body>
	


<div id="header-bar">
	 <img id="hamburger-icon" src="{% static 'kpcode/images/hamburger.png' %}">

	 <a href="/">
	 	<img id="logo" src="{% static 'kpcode/images/logo3.png' %}">
	</a>
	 <div id="header-info">
	 	
		 	<a  href="/register/">Create Account/Login</a>
	 	
	 </div>
</div>

	
	

	
    <div class="container">
        <div class="row">


            <div class="col-lg-12">
  
                <iframe id="website-video" width="560" height="315" src="https://www.youtube.com/embed/UHAswjtAPYo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   

               <!-- <img id="website-video" src="/static/images/thumbnail.jpg">-->
            </div>

            <div class="col-lg-12">
            
                <h2 class="headline">Get started with projects by following modules below.<br> Step by step instructions in each module.</h2>
            </div>
        </div>

        


    	
    		<div class="row">
                <div class="col-lg-12">
                    <br>
                    <h5 class="project-title">Project:Orderit (An ecommerce website)</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div style="background-color:#f9551b;border-bottom: 1px solid #f9551b;opacity: .92" class="module-title">
                        <h6>Introduction</h6>
                    </div>

                    <div style="border:1px solid #f9551b; background-color: #f9551b" class="module-desctription">
                        <p style="color:#fff">Guest Checkout and payment integration for Digital and Physical products<p>
                            <!-- /project/cd0492f3-ee93-471a-9dbc-b047233336c3/#overview -->
                         <a style="display: inline-block;" href="#" class="btn btn-sm btn-dark">VIEW PROJECT</a>

                        <strong style="display: inline-block;float:right" ><i style="color:#fff">5 Modules</i></strong>

                    </div>
                </div>
                
                    <div class="col-lg-4">
                        <div style="background-color: #53BBB4 /* Blue-Green */;border-bottom: 1px solid #53BBB4 /* Blue-Green */;opacity: .92" class="module-title">
                            <h6>1 | Project Setup &amp; Templates</h6>
                        </div>
                        <div style="border:1px solid #53BBB4 /* Blue-Green */;background-color: #53BBB4 /* Blue-Green */"class="module-desctription">
                            <p style="color:#fff">Setup app and templates<p>
                                <!-- /part/2ab3a925-1cae-4761-8ed0-a171c2a47be3/ -->
                            
                                <a style="display: inline-block;" href="#" class="btn btn-sm btn-dark">View</a>
                             

            

                            <strong style="display: inline-block; float:right" ><i style="color:#fff">9 Parts</i></strong>

                        </div>
                    </div>

    
                
                    <div class="col-lg-4">
                        <div style="background-color: #5FCF80 /* Green */;border-bottom: 1px solid #5FCF80 /* Green */;opacity: .92" class="module-title">
                            <h6>2 | Data Structure</h6>
                        </div>
                        <div style="border:1px solid #5FCF80 /* Green */;background-color: #5FCF80 /* Green */"class="module-desctription">
                            <p style="color:#fff">Models and rendering real data in pages<p>

                                <!-- /purchase/cd0492f3-ee93-471a-9dbc-b047233336c3/ -->
                                <a style="display: inline-block;" target="_blank" href="#" ><img style="width: 20px"src='{% static "kpcode/images/lock.png" %}'></a>
                            

            

                            <strong style="display: inline-block; float:right" ><i style="color:#fff">4 Parts</i></strong>

                        </div>
                    </div>

    
                
                    <div class="col-lg-4">
                        <div style="background-color: #838CC7 /* Purple*/;border-bottom: 1px solid #838CC7 /* Purple*/;opacity: .92" class="module-title">
                            <h6>3 | Site Functionality</h6>
                        </div>
                        <div style="border:1px solid #838CC7 /* Purple*/;background-color: #838CC7 /* Purple*/"class="module-desctription">
                            <p style="color:#fff">Build Registered user cart and orders<p>

                                <!-- /purchase/cd0492f3-ee93-471a-9dbc-b047233336c3/ -->
                                <a style="display: inline-block;" target="_blank" href="#" ><img style="width: 20px"src='{% static "kpcode/images/lock.png" %}'></a>
                            

            

                            <strong style="display: inline-block; float:right" ><i style="color:#fff">5 Parts</i></strong>

                        </div>
                    </div>

    
                
                    <div class="col-lg-4">
                        <div style="background-color: #1992dc /* Orange */;border-bottom: 1px solid#1992dc /* Orange */;opacity: .92" class="module-title">
                            <h6>4 | Guest Checkout</h6>
                        </div>
                        <div style="border:1px solid #1992dc/* Orange */;background-color: #1992dc /* Orange */"class="module-desctription">
                            <p style="color:#fff">Guest checkout integration with Cookies<p>

                                <!-- /purchase/cd0492f3-ee93-471a-9dbc-b047233336c3/ -->
                                <a style="display: inline-block;" target="_blank" href="#" ><img style="width: 20px"src='{% static "kpcode/images/lock.png" %}'></a>
                            

            

                            <strong style="display: inline-block; float:right" ><i style="color:#fff">6 Parts</i></strong>

                        </div>
                    </div>

    
                
                    <div class="col-lg-4">
                        <div style="background-color: #adb939/* Maroon */;border-bottom: 1px solid #adb939/* Maroon */;opacity: .92" class="module-title">
                            <h6>5 | Payment Integration</h6>
                        </div>
                        <div style="border:1px solid #adb939/* Maroon */;background-color: #adb939/* Maroon */"class="module-desctription">
                            <p style="color:#fff">Add payment integrations at checkout<p>

                                <!-- /purchase/cd0492f3-ee93-471a-9dbc-b047233336c3/ -->
                                <a style="display: inline-block;" target="_blank" href="#" ><img style="width: 20px"src='{% static "kpcode/images/lock.png" %}'></a>
                            

            

                            <strong style="display: inline-block; float:right" ><i style="color:#fff">3 Parts</i></strong>

                        </div>
                    </div>

    
                
            </div>
    	
        <br>
        <br>
        
    </div>
    

    <script type="text/javascript">
        
        function hideShow(){
            var logo = document.getElementById('logo')
            var hamburgerIcon = document.getElementById('hamburger-icon')
            logo.style.display = 'block'
            hamburgerIcon.style.display = 'none'
        }

        window.onresize = hideShow;
        window.onload = hideShow;
        
    </script>


</body>
</html>